body {
	margin: 0;
	padding: 20px 40px;
	font-family: 'Lobster', cursive;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

* {
	box-sizing: border-box;
}
